name: Build Docker Image

on:
  schedule:
    # Every 1 hour
    - cron: "0 * * * *"
  workflow_dispatch:
    inputs:
      git_tag:
        description: Git Tag To Release From. Last Git Tag Is Used If Omitted
        required: false

jobs:
  build:
    name: Build Client Push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          repository: nextcloud/notify_push
          fetch-depth: 0

      - name: Get git info
        id: git-info
        run: |
          tag='${{ github.event.inputs.git_tag }}'
          if [[ -z "${tag}" ]]; then
            tag=$(git describe --tags $(git rev-list --tags --max-count=1))
          fi
          echo "tag=${tag}" >> $GITHUB_OUTPUT
          git checkout $tag
          echo "hash=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT

      - name: Check Docker image exists
        id: inspect
        run: |
          image=${{ secrets.DOCKERHUB_USERNAME }}/notify_push:latest
          docker pull $image
          hash=$(docker inspect --format '{{ index .Config.Labels "org.opencontainers.image.revision" }}' $image)
          [[ $hash != '${{ steps.git-info.outputs.hash }}' ]] && echo 'build=true' >> $GITHUB_OUTPUT || exit 0

      - name: Docker metadata
        if: ${{ steps.inspect.outputs.build == 'true' }}
        id: metadata
        uses: docker/metadata-action@v4
        with:
          images: ${{ secrets.DOCKERHUB_USERNAME }}/notify_push
          labels: |
            org.opencontainers.image.title=notify_push
            org.opencontainers.image.description=Update notifications for nextcloud clients
            org.opencontainers.image.source=https://github.com/nextcloud/notify_push
            org.opencontainers.image.version=${{ steps.git-info.outputs.tag }}
            org.opencontainers.image.revision=${{ steps.git-info.outputs.hash }}

      - name: Set up Docker Buildx
        if: ${{ steps.inspect.outputs.build == 'true' }}
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        if: ${{ steps.inspect.outputs.build == 'true' }}
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        if: ${{ steps.inspect.outputs.build == 'true' }}
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/notify_push:latest, ${{ secrets.DOCKERHUB_USERNAME }}/notify_push:${{ steps.git-info.outputs.tag }}
          labels: ${{ steps.metadata.outputs.labels }}
          cache-from: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/notify_push:latest
          cache-to: type=inline
